/*白色1    按钮2   灰色背景3    商品名字4    红色字体5    h3标题6    nav7*/ 
// $color:#fff #dc0000 #f2f2f2 #050000 #ff0000 #333 #2e2f2f;


// $ls:(l 10px 20px)(t 20px 20px)(r 10px 30px)
// @each $a,$b,$c in $ls {
//     .box#{$a}{
//         width: $b;
//         height:$c;
//     }
// }

/*  */ 
$m:(h3:26px,h2:16px,span:14px);
@each $key,$val in $m {
    #{$key}{
        font-size:$val;
    }
}

$color:(h3:#333,h2:#050000);
@each $key,$val in $m {
    #{$key}{
        color:$val;
    }
}


$width: 1220px;
.margin{
    width: $width;
    margin: 0 auto;
    position: relative;
    font-family: "微软雅黑";
}

#header{
    width: 100%;
    height:124px;
    .top{
        width: 100%;
        height: 44px;
        line-height: 44px;
        background:#2e2f2f;
        .left li{
            float: left;
            font-size: 12px;
            position: relative;
            margin-right: 32px;
                a{
                color:#fff;
                }   
        }
        .right{
            float: right;
            li{
                float: left;
                font-size: 12px;
                position: relative;
                margin-left: 32px;
                img{
                    width: 18px;
                    height: 18px;
                    margin-right:5px;
                }
                span{
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    display: inline-block;
                    line-height: 18px;
                    text-align: center;
                    background: #ff0000;
                    margin-left:4px;
                }
                    a{
                    color:#fff;
                    }   
            }
        }
    }
    // logo部分
    .bottom{
        height:80px;
        width: 100%;
        // logo
        .logo{
            float: left;
            margin-right:42px;
            a img{
                margin-top:20px;
                width:280px;
                height:36px;
            }
        }
        // 导航
        .nav ul li{
            float:left;
            margin-right: 28px;
            font-size: 14px;
            color: #3e3a39;
            line-height: 80px;
            height: 80px;
        }
        .integral{
            float: right;
            ul{
                float: left;
                margin-right: 30px;
                li{
                float: left;
                line-height: 80px;
                // margin-right: 12px;
            }
                span{
                    margin: 0 9px 0 12px;
                }
            }
            .search{
                float: right;
                width: 241px;
                height: 28px;
                border-bottom:1px solid #e9e9e9;
                margin-top: 25px;
                    .ser{
                        float: left;
                        border:none;
                        font-size: 14px;
                        color:#8f8f8f;
                        line-height: 28px;
                    }
                    .sbt{
                        width: 14px;
                        height: 22px;
                        float: right;
                        background: url(../img/search.png) no-repeat center;
                        background-size:contain;
                        border: none;
                    }
            }
        }
    }
    // 下拉菜单
    .aal{
            width: 100%;
            height: 68px;
            padding-top: 39px;
            margin-top: 0px;
            padding-bottom: 34px;
            margin-bottom: 0px;
            z-index: 9;
            position: absolute;
            background: #fff;
            line-height: 0;
            padding: 39px 0 34px;
            border-top: 1px solid #dadada;
            box-shadow: 0 5px 10px rgba(0,0,0,.1);
            
            .drop-down{
                dd{
                    float: left;
                    width: 110px;
                    position: relative;
                    top: 0;
                    text-align: center;
                    a{
                        display: block;
                        width: 100%;
                        color: #08c;
                        background: transparent;
                        text-decoration: none;
                        img{
                            height: 33px;
                            margin-bottom: 13px;
                            border: 0;
                            vertical-align: middle;
                        }
                        p{
                            font-size: 12px;
                            color: #4d4d4d;
                            line-height: 22px;
                        }
                    }
                }
            }
    }
    
}
/*banner部分*/
#banner{
    width: 100%;
    height: 491px;
    .banner-l{
        float: left;
        width: 235px;
        height: 491px;
        background: #5e5f62;
        ul{
            margin-top:9px;
            li {
                a{
                    width: 192px;
                    float: left;
                    display: block;
                    padding: 0 19px 0 25px;
                    line-height: 43px;
                    height: 43px;
                    font-size: 16px;
                    color: #fff;
                    span{
                        float: right;
                    }
                }
                // 菜单部分
                .sidebar{
                    z-index: 9;
                    position: absolute;
                    top: 0;
                    left: 235px;
                    display: none;
                    height: 489px;
                    width: 753px;
                    overflow: hidden;
                    border: 1px solid #f5f5f5;
                    border-left: none;
                    background: #fff;
                    .centrum-t{
                        padding: 0 34px 0 28px;
                        width: 690px;
                        .title{
                            padding-top :6px;
                            height: 51px;
                            width: 690px;
                            border-bottom:1px solid #ececec;
                            p{
                            line-height: 46px;
                            font-size: 14px;
                            color: #3e3a39;
                            float: left;
                            }
                            a{
                                line-height: 46px;
                                float: right;
                                display: block;
                                font-size: 12px;
                                color: #666;
                            }
                        }
                        // 选择
                        .chose{
                            dl{
                                width: 100%;
                                dd{
                                    float: left;
                                    width: 690px;
                                    height: 54px;
                                    border-bottom: 1px dashed #ececec;;
                                    span{
                                        font-size: 14px;
                                        color: #000;
                                        line-height: 54px;
                                        float: left;
                                    }
                                    .typl{
                                        float: left;
                                        font-size: 14px;
                                        line-height: 54px;
                                        padding:0 15px;
                                        a{
                                            color: #3e3a39;
                                            float: left;
                                        }
                                    }
                                }
                                dd.te{
                                    border: 0;
                                }
                            }
                        }
                    }
                    // 商品图
                    .centrum-b{
                        width: 100%;
                        overflow: hidden;
                        position: relative;
                        border-top: 1px solid #eeeeee;
                        .item{
                            overflow: hidden;
                            position: relative;
                            width: 753px;
                            ul{
                                width: 753px;
                                left: 0px;
                                position: relative;
                                overflow: hidden;
                                padding: 0px;
                                margin: 0px;
                                li{
                                    float: left;
                                    width: 250px;
                                    height: 314px;
                                    text-align: center;
                                    cursor: pointer;
                                    padding-bottom: 21px;
                                    position: relative;
                                   border-right: 1px solid #ececec;
                                    a{
                                        background: transparent;
                                        text-decoration: none;
                                        color: #08c;
                                        .pict{
                                            text-align: center;
                                            height: 160px;
                                            padding-top: 60px;
                                            overflow: hidden;
                                            position: relative;
                                        }
                                        p{
                                            font-size: 14px;
                                            color: #050000;
                                            line-height: 26px;
                                            margin-top: 11px;
                                            padding: 0 20px;
                                        }
                                        h2{
                                            color: #da0028;
                                            font-size: 18px;
                                            line-height: 25px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 轮播图
    .box {
        width: 985px;
        height: 491px;
        // margin: 20px auto;
        position: relative;
        float: right;
        .imgbox {
            width: 985px;
            height: 491px;
            img{
                width: 985px;
                height: 491px;
            }
        }
        .btns input{
            width: 41px;
            height: 70px;
            background: rgba(200, 200, 200, 0.4);
            border: none;
            position: absolute;
            top: 210px;
        }
        #left {
            left: 35px;
        }

        #right {
            right: 35px;
        }
    }
}
/*小banner部分*/
#sbanner{
    width: 100%;
    height: 160px;
    ul{
        margin-top: 13px;
        li{
            float: left; 
            margin-right: 13px;
            position: relative;
            a{
                img{
                 width: 295px;
                 height: 160px;
                }
                p{
                    width: 100%;
                    height: 34px;
                    position: absolute;
                    text-align: center;
                    line-height: 34px;
                    bottom: 0;
                    background: url(../img/bgtm.png) no-repeat               center;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
        li.last{
            margin-right: 0;
        }
    }
}
/*限时特惠*/ 
#time{
    height: 683px;
    width: 100%;
    .top{
        height: 83px;
        margin-top: 24px;
        .top-l{
            width: 162px;
            h3{
                float: left;
                line-height: 83px; 
                width: 116px;
            }
        }
        .countdown{
            width: 500px;
            height: 107px;
            line-height: 83px;
            h2{
                float: left;
                width: 92px;
                font-size: 18px;
                color: #666;
                line-height: 83px;
            }
            ul{
                li{
                    float: left;
                    width: 33px;
                    text-align: center;
                    font-size: 20px;
                    margin-right: 24px;
                    color: #fff;
                    background: url(../img/time.png)no-repeat               center;
                    background-size:35px 33px;
                    position: relative;
                }
                
            }
        }
    }
        .time-c{
                width: 100%;
                height: 600px;
                li{
                    float: left;
                    position: relative;
                    height: 293px;
                    width: 603px;
                    margin-right: 14px;
                    background:#f2f2f2 ;
                    margin-bottom: 14px;
                    .center-l{
                        // display:inline-block;
                        float: left;
                        margin:56px 40px 0 50px;
                        img{
                            border: 0;
                            vertical-align: middle;
                        }
                    }
                    .center-r{
                        float: right;
                        // display: inline;
                        margin-right: 30px;
                        h2{
                            font-size: 18px;
                            color: #050000;
                            line-height: 19px;
                            height: 19px;
                            margin:56px 0 9px 0;
                            overflow: hidden;
                        }
                        p{
                            font-size: 14px;
                            color: #ff0000;
                            line-height: 22px;
                            width: 288px;
                            height: 44px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                        .money{
                            font-size: 14px;
                            color: #da0000;
                            line-height: 28px;
                            padding: 19px 0;
                            span{
                                font-size: 23px;
                                color: #d70000
                            }
                        }
                        .more{
                            width: 151px;
                            height: 41px;
                            text-align: center;
                            line-height: 41px;
                            background: #dc0000;
                            border-radius: 3px;
                            cursor: pointer;
                            font-size: 14px;
                            color: #fff;
                        }
                    }

                }
                li.te{
                    margin-right:0;
                }
            }
    .bottom{
        img{
            width: 100%;
            height: 120px;
            margin:20px 0 42px;
        }
    }
}
/*爆款热卖*/ 
#hot{
    height: 486px;
    width: 100%;
    background:#f2f2f2;
    margin-top:196px;
    padding-bottom: 60px;
    .hot-t{
        height: 92px;
        line-height: 68px;
        padding-top: 24px; 
        h3{
            float: left;
        }
        span{
            float: right;
            color:#4d4d4d;
            padding-right: 25px;
            background: url(../img/more.svg) no-repeat right;
            background-size:17px;
        }
    }
    .hot-c{
        height: 394px;
        display: flex;/*弹性盒子*/
        justify-content: space-between;/*两端对齐，子元素之间有间隙 */
        flex-flow: row wrap; /*子元素溢出父容器时换行*/
        li{
            float: left;
            width: 300px;
            height: 394px;
            text-align: center;
            // margin-right: 7px;
            background: #fff;
            position: relative;
            overflow: hidden;
            .bt{
                .red{
                    display: inline-block;
                    background: #f71a27;
                    width: 65px;
                    height: 20px;
                    line-height: 20px;
                    color: #fff;
                    font-size: 12px
                }
            }
            .pic{
                img{
                    height: 202px;
                    width: 180px;
                    padding-top: 28px;
                    padding-bottom: 16px;
                    border-bottom: 1px dashed #dcdcdc;
                    margin: 0 auto;
                }
            }
        }
        .con{
            h2{
                font-size: 16px;
                color: #050000;
                line-height: 28px;
                height: 28px;
                overflow: hidden;
            }
            p{
                font-size: 12px;
                color: #666;
                line-height: 26px;
                height: 26px;
                overflow: hidden;
            }
            .tt{
                font-size: 14px;
                color: #ff0000;
                line-height: 44px;
                height: 44px;
                .money{
                    font-size: 18px;
                    color: #ff0000;
                }
                .jf{
                    i{
                        display: inline-block;
                        width: 13px;
                        height: 12px;
                        background: url(../img/inte.svg) no-repeat                    center;
                        margin-right: 5px;
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
    }
}
/*底部*/ 
#footer{
    width:100%; 
    height: 494px;
    background:#fff;
    .f-t{
        height: 163px;
        border-bottom: 1px solid #dcdcdc;
        dd{
            float: left;
            text-align: center;
            a{
                display: block;
                width: 100%;
                img{
                    margin-top: 30px;
                }
                p{
                    font-size: 16px;
                    color: #595757;
                    line-height: 27px;
                    margin-top: 17px;
                }
            }
        }
    }
    .f-c{
        height: 267px;
        border-bottom: 1px solid #f4f4f4;
        .f-c-l{
            float: left;
            li{
                float: left;
                width: 120px;
                margin-top: 62px;
                h2{
                    font-size: 14px;
                    color: #323333;
                    font-weight: bold;
                    line-height: 34px;
                    margin-bottom: 13px;
                }
                p{
                    font-size: 12px;
                    color: #7f7f80;
                    line-height: 24px;
                }
            }
        }
        .f-c-r{
            float: right;
            margin: 72px 28px 0 0;
            h2{
                font-size: 24px;
                color: #2688c7;
                line-height: 29px;
                font-weight: bold;
            }
            p{
                font-size: 12px;
                color: #4d4d4d;
                line-height: 21px;
                margin-bottom: 9px;
            }
            a{
                display: block;
                width: 102px;
                height: 31px;
                line-height: 31px;
                padding-left: 19px;
                font-size: 12px;
                color: #fff;
                margin: 0 auto;
                text-align: left;
                background: #2688c7;
                i{
                    width: 16px;
                    height: 16px;
                    background: url(../img/foot07.svg) no-repeat center;
                    display: inline-block;
                    position: relative;
                    top: 3px;
                    margin-right: 15px;
                }
            }
        }

    }
    .f-b{
        height: 62px;
        width: 100%;
        border-top:1px solid #dcdcdc;
        a{
            display: block;
            float: left;
            color: #717171;
            font-size: 12px;
            line-height: 62px;
        }
        i{
            width: 1px;
            height: 9px;
            float: left;
            display: block;
            background: #717171;
            margin: 0 12px;
            margin-top: 27px;
        }
        p{
            float: left;
            color: #717171;
            font-size: 12px;
            line-height: 62px; 
            padding: 0 24px 0 28px;
        }
        a.bf{
            width: 47px;
            margin-left: 17px;
        }
    }
}
// 楼层
.floor{
    width: 80px;
    height: 153px;
    position: fixed;
    right: 10px;
    bottom: 80px;
    background: #fff;
    li{
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 12px;
        color: #000;
        cursor: pointer;
        border-top: 1px solid #b6b6b6;
    }
    li.te{
        border: 0;
    }
}
